
.env
!.vscode

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.history


.DS_Store
Thumbs.db

node_modules
.env

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/cache
install-state.gz