# theme: jekyll-theme-minimal
remote_theme: raviriley/agency-jekyll-theme

title: 沼Lab
description: 沼Labは沼勢によるプログラミングを使ってKUNチャンネルのネタを制作するコミュニティです。
author: Kamesuta
github_username: Numa-Lab
timezone: Japan
domain: www.numalab.net
url: "https://www.numalab.net" # the base hostname & protocol for your site
baseurl: "/"
repository: Numa-Lab/www.numalab.net

logo: #optional, defaults to site title
  path: /assets/img/logo.png
  height: 60 #height in px, defaults to 52px

locale: "ja-JP"

analytics:
  google: G-CNWPLXESZS

collections:
  portfolio:

markdown: kramdown

plugins:
  - jekyll-remote-theme