<!-- Discord Section -->
    <section class="page-section" id="discord" style="background-color: #f8f9fa;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Discordサーバー</h2>
				<h3 class="section-subheading text-muted">沼LabのDiscordサーバーができました！</h3>
			</div>
		</div>
		<div style="text-align: center;">
			<iframe src="https://discord.com/widget?id=930083398691733565&theme=dark" width="75%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		</div>
	</div>
</section>

